h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
    letter-spacing: 6px;
    font-variant: small-caps;
    display: inline;
    color: rgba(62, 214, 235, 0.904);
    margin: 10px 0;
}
